nav {
    text-align: center;
}

.container-static,
.container-relative,
.container-absolute {
    width: 500px;
    height: 500px;
    border: 5px dashed #677;
    border-radius: 25px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 3px solid #f11;
    border-radius: 10px;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bolder;
}

.box-static {
    position: static;
    background-color: rgb(201, 19, 233);
}

.box-relative {
    background-color: rgb(238, 208, 17);
    position: relative;
    /* margin-top: 75px;
  margin-left: 75px; */
    top: 50px;
    left: 50px;
    /* bottom: 75px;
  right: 75px; */
    /* z-index: 1; */
}

.container-absolute {
    position: relative;
}

.box-absolute {
    background-color: #62d862;
    position: absolute;
    top: 50px;
    left: 50px;
    /* z-index: -1; */
}

.position-fixed-box {
    width: 100%;
    height: 50px;
    border: 3px solid rgb(235, 90, 6);
    background-color: rgb(230, 230, 22);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
}
