.container {
    max-width: 800px;
    margin: 0 auto;
}

/* p {
  float: left;
  width: 50%;
  padding: 0 20px;
  text-align: justify;
} */

.row {
    margin: 25px 0;
}

.row .col-6,
.row .col-4,
.row .col-3 {
    float: left;
    padding: 0 20px;
    text-align: justify;
}

.column .col-6,
.col {

}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}
