body {
    background-color: grey;
}

h1 {
    color: red;
    background-color: blue;
    font-size: 100px;
}

h3 {
    color: yellow;
    background-color: black;
}

p {
    color: green;
    background-color: pink;
    font-size: small;
}
